@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Sacramento&display=swap');

:root {
  /* fonts */
  --font-sacrament: 'Sacramento', cursive;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-hind: 'Hind', sans-serif;
  --color-primary: #0D0D0D;
  --color-secondary: #FEFEFE;
  --color-3: #5F5FF5;
  --color-4: #121230;
  --color-5: #FFC039;
  --color-6: #FFDB38;
}